<div>
<div class="text-center">
    <fa-icon class="fa-2x" [icon]="faListAlt"></fa-icon>    
</div>
<hr>
<h5>Listado de alumnos</h5>
<table class="table table-hover">
    <thead class="bg-info">
        <tr>
            <th>
                N°
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Cédula
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>        
            <tr *ngFor="let item of alumnos; let i = index">
                <td>
                    {{i | masmas}}
                </td>
                <td>
                    {{item.nombres}}
                </td>
                <td>
                    {{item.apellidos}}
                </td>
                <td>
                    {{item.cedula}}
                </td>                
                <td class="btn-group">
                    <button [routerLink]="['/alumnos', item.idalumno]" class="btn btn-sm btn-info" ><fa-icon [icon]="faEye"></fa-icon></button>                    
                    <button (click)="update(item)" class="btn btn-sm btn-warning" ><fa-icon [icon]="faPencilAlt"></fa-icon></button>
                    <button (click)="delete(item)" class="btn btn-sm btn-danger" ><fa-icon [icon]="faTrash"></fa-icon></button>
                </td>
            </tr>
        
    </tbody>
</table>
</div>


