<div class="container">
<div class="text-center">
    <fa-icon class="fa-2x" [icon]="faUserPlus"></fa-icon>    
</div>
<hr>
<h6>{{title}}</h6>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
    <div class="card-body"> 
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faIdCard'></fa-icon></span>
            </div>
            <input formControlName="cedula" type="text" class="form-control form-control-user" [(ngModel)]="alumno.cedula" 
                [ngClass]="{'is-invalid': submitted && f.cedula.errors}" 
                placeholder="Cédula" />

            <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                <div *ngIf="f.cedula.errors.required">La cédula es requerida</div>
                <div *ngIf="f.cedula.errors.minlength">La cédula debe tener mínimo 10 caracteres</div>
            </div>

        </div>          
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
            </div>
            <input formControlName="nombres" type="text" class="form-control form-control-user" 
                [(ngModel)]="alumno.nombres" 
                [ngClass]="{'is-invalid': submitted && f.nombres.errors}" placeholder="Nombre" />
            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                <div *ngIf="f.nombres.errors.required">El nombre es requerido</div>
            </div>
        </div>        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
            </div>
            <input formControlName="apellidos" type="text" class="form-control form-control-user" 
                [(ngModel)]="alumno.apellidos" [ngClass]="{'is-invalid': submitted && f.apellidos.errors}" placeholder="Apellido" />
            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                <div *ngIf="f.apellidos.errors.required">El apellido es requerido</div>
            </div>
        </div>                
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faCalendar'></fa-icon></span>
            </div>
            <input formControlName="fecha_nacimiento" type="date" class="form-control form-control-user" 
                [(ngModel)]="alumno.fecha_nacimiento" />
        </div>        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faMapMarkedAlt'></fa-icon></span>
            </div>
            <input formControlName="lugar_nacimiento" type="text" class="form-control form-control-user" 
                [(ngModel)]="alumno.lugar_nacimiento" placeholder="Lugar de nacimiento" />
        </div> 
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faGenderless'></fa-icon></span>
            </div>
            <select formControlName="sexo" [(ngModel)]="alumno.sexo" 
                [ngClass]="{'is-invalid': submitted && f.sexo.errors }" 
                class="form-control form-control-user">
                <option value="M">Mujer</option>
                <option value="H">Hombre</option>
                <option value="G">GLBTI</option>                
            </select>            
        </div>         

        <div class="btn-group">
            <button type="submit" class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar
            </button>
            <button type="reset" (click)="onReset()" class="btn btn-danger">
                <fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar
            </button>
        </div>
    </div>        
</form>
<hr>
<pre class="bg-light">
    {{ alumno | json}}
</pre>





