<h3> Clubs </h3>
<hr>
<table class="table table-hovered">
<thead>
 <tr>
     <th>Id</th>
     <th>Nombre</th>
     <th>Instructor</th>
     <th>
        <button [routerLink]="['/club/form']" class="btn btn-sm btn-info" ><fa-icon [icon]="faPlus"></fa-icon> Agregar</button>
     </th>
 </tr>
</thead>
<tbody>
    <tr *ngFor="let item of clubs; let i = index">
        <td>
            {{i | masmas}}
        </td>
        <td>
            {{item.nombre}}
        </td>
        <td>
            {{item.instructor}}
        </td>                       
        <td class="btn-group">
            <button [routerLink]="['/club/card', item.id]" class="btn btn-sm btn-info" ><fa-icon [icon]="faEye"></fa-icon></button>                    
            <button [routerLink]="['/club/form', item.id]" class="btn btn-sm btn-warning" ><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            <button (click)="delete(item)" class="btn btn-sm btn-danger" ><fa-icon [icon]="faTrash"></fa-icon></button>
        </td>
    </tr>
</tbody>
</table>
